/*
 * Overrides CSS
 */

/*mic overrides 060616*/

.leading-0 .pull-left.item-image {
    margin-left: 0 !important;
    margin-bottom: 20px !important;
}

/*content allg*/

.clr {
    clear: both;
}

section#section-header,
section#section-content,
div.header-wrapper div.container,
footer.clear-footer,
div.footer-bottom {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

a {
    transition: all 0.3s ease-in-out;
}
.iplImgCaption {
    font-size: 10px;
    color: #777;
}

.iplMag-shadow,
.items-row.cols-1,
.items-leading {
    box-shadow: 0px 6px 14px -4px #adaaaa;
}

.item-page div.page-header {
    border-bottom: none;
}

.page-header h2[itemprop="name"] {
    font-size: 24px;
    color: #68696a;
    text-transform: uppercase;
}

.item-page h1,
.blog h1,
div.content-category h1,
h1.docman_page_heading {
    color: #68696a;
    text-transform: uppercase;
    font-weight: 500;
}

div#module_142 h3 {
    font-size: 16px;
    color: #3270BA;
    text-transform: uppercase;
}

div#module_142 ul li {
    line-height: 25px;
    max-width: 100%;
}

div#module_142 ul li a {
    color: #68696a;
}

div#module_142 ul li.current a {
    color: #3270BA;
    font-weight: bold;
    font-size: 16px;
}

body.itemid-168 div.X.blog div.page-header h2 {
    font-size: 20px;
    font-weight: normal;
    background-color: #3270BA;
    color: #fff;
    padding: 0px 15px;
    line-height: 25px;
}

body.itemid-168 .category-desc {
    margin-bottom: 20px;
}

/*breadcr*/

.breadcrumb {
    padding: 10px 0;
    margin: 10px 0 0px;
    list-style: none;
    background-color: #fff;
}

body.site ol.breadcrumb>li {
    color: #000;
}

/*artikel*/

body.site .blog>div.page-header,
body.site .item-page>div.page-header,
body.site div.page-header.error404 {
    border-bottom: none;
    background-color: #3270BA;
}

body.site .blog>div.page-header h1,
body.site .item-page>div.page-header h1,
h1.error404 {
    color: #fff;
    font-weight: 400;
    margin: 10px 90px 0 0;
    padding: 10px 10px 10px;
    text-shadow: 0px 5px 5px rgba(23, 23, 23, 0.57);
}

body.site .blog>div.page-header h1{
    text-align: right;
}

.items-leading.clearfix,
body.site form.-koowa-grid div.docman_document:first-child {
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    border: 1px solid #e2e2e2;
    padding: 20px;
}

.items-leading.clearfix .item-image,
.item .item-image {
    margin: 0 30px 10px 0;
    max-width: 50%;
}

body.site div.items-leading .item-image {
    margin: 0 30px 10px 20px;
}

body.site .pull-right.item-image {
    margin: 0px 0px 20px 20px;
}

body.site .img_caption.left {
    margin: 0px 10px 10px 0px;
}

body.site .img_caption.right {
    margin: 0px 0px 10px 20px;
}

p.img_caption {
    text-align: center;
    color: #8A8A8A;
    font-size: 10px;
}

div.item-page figcaption {
    font-size: 10px;
    
    color: #7B7B7B;
}

body.site .item-page figure.pull-right {
    margin: 0px 0px 15px 15px;
}

body.site .item-page figure.pull-left {
    margin: 0px 15px 15px 0px;   
}

.items-row.cols-1 {
    padding:  20px;
    width: inherit;
    border: 1px solid #e2e2e2;
    margin-bottom: 15px;
    background-color: #fff;
    position: relative;
}

/*header*/

div.ausgabe-wrapper {
    height: 56px;
    position: relative;
    bottom: 5px;
}

div.ausgabe {
    position: absolute;
    bottom: 0px;
    background: #3270ba;
    color: #fff;
    padding: 4px 20px;
    text-transform: uppercase;
}

div.site-description {
    color: #68696a;
    text-transform: uppercase;
    font-size: 18px;
    margin: 10px 0;
    letter-spacing: 1.2px;
}

input#mod-search-searchword {
    border-radius: 0px;
    box-shadow: 0px 5px 10px -4px #B5B5B5;
    margin: 10px 0 0 10px;
}

body.site div.header-right {
      text-align: right;
  }

body.site .form-inline input {
    vertical-align: bottom;
}

span.pipe {
    padding: 0px;
    position: absolute;
    top: 6px;
}

ul span.pipe:nth-of-type(1),
ul span.pipe:last-child {
    display: none;
}

/*magBanner*/

.vorwort-inner h3,
.iplH3 h3 {
    color: #467abd;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 26px;
}

.iplH3 h3 {
    line-height: 25px;
}

.IPLevents h3 {
    color: #467abd;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0px;
}

.dlBanner.span3 {
    margin-left: 20px;
}

/*pos top*/

.module_top.position_top1 {
    background: #fff;
    position: relative;
    z-index: 3;
    padding-top: 30px;
}

.module_top.position_top1 div.module {
    padding: 15px 20px 15px 20px;
}

div#module_122 .newsflash {
    max-width: 400px;
}

div#module_123,
div#module_124 {
    min-height: 280px;
}

body.site .carousel-indicators li {
    background-color: #fff;
    border-radius: 0px;
    width: 15px;
    height: 15px;
    border: 1px solid #d8d8d8;
}

body.site .carousel-indicators .active {
    background-color: #fb8537;
}

body.site .carousel-indicators {
    top: 105px;
}

.newsflash.custom089 div.span6 {
    margin: 0;
}

.newsflash.custom089 h4 a,
.newsflash h4 a {
    color: #68696a;
}

.newsflash.custom089 p,
.newsflash p {
    font-size: 14px;
}

.carousel-inner {
    padding-left: 1px;
}

/*tab-Cat*/

ul.category-module.ui-slider-tabs-list {
    display: inline-flex;
}

.category-module.ui-slider-tabs-list { /*Bewegung tab-content verhindern*/
    height: 140px;
}

.category-module.ui-slider-tabs-list>li {
    width: 20%;
}

body.site .nav-tabs>.active>a,
body.site .nav-tabs>.active>a:hover,
body.site .nav-tabs>.active>a:focus  {
    border: none;
    background: transparent;
}

.ui-slider-tabs-list>li {
    padding: 15px 0px 30px;
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
}

body.site .ui-slider-tabs-list li span {
    color: #3270ba;
}

body.site .ui-slider-tabs-list li {
    line-height: 25px;
}

body.site .ui-slider-tabs-list li a,
body.site .ui-slider-tabs-list li {
    height: auto !important;
}

div.ui-slider-tabs-content-container {
    border: none;
    min-height: 450px;
}

body.site .ui-slider-tabs-list li.selected a {
    text-shadow: 0px 4px 5px #d8d8d8; 
    color: #68696a; 
}

.ui-slider-tabs-list li.selected a span {
    text-shadow: none;  
}

h3.tabSliderH3 {
    color: #3270ba;
    text-shadow: 0px 4px 5px #d8d8d8;  
}

div#module_133 {
    border: 2px solid #ddd; 
    overflow: hidden;
    background-color: #fff;
}
.ui-slider-tabs-list>li.selected,
.ui-slider-tabs-list>li.selected:hover,
.ui-slider-tabs-list>li.selected:focus {
    border: 2px solid #ddd;
    border-bottom: transparent;
    border-top: transparent;
    border-radius: 0px;
    padding: 15px 0px 40px; 
    background-image: linear-gradient(to top,#fff,#f2f2f2);
}

.ui-slider-tabs-list>li.selected:first-child {
    border-left: transparent;
}

.ui-slider-tabs-list>li.selected:last-child {
    border-right: transparent;
}

.mod-articles-introImg {
    text-align: center;
}

.mod-articles-introImg img {
    border: 1px solid #e2e2e2;
    padding: 15px;
}

.ui-slider-left-arrow.edge,
.ui-slider-right-arrow {
    display: none;
    height: 0px !important;
    border: none;
    width: 0px !important;
}


/*bottom Pos'*/

.clear-container,
section#section-content {
    margin-bottom: 50px;
}

h4.iplH3 a,
.iplH3 h4 { 
    color: #68696a;
}

div.newsflash.custom089 h4.newsflash-title  {

    line-height: 25px;
    margin: 0px 0px 5px;
}

.iplH3 h4 {
    font-size: 16px;
}

.newsflash.iplH3>p {
    display: none;
 }


/*footer*/
div#footerBanner {
    background-color: #f7f7f7;
    height: 60px;
    box-shadow: 0px 11px 10px -10px #808080;
    margin-bottom: 30px;
}

footer.clear-footer {
    position: relative;
    margin-bottom: 50px;
}

.row-fluid.footer {
    position: absolute;
    bottom: 50px;
}

h2.footerH2 {
    text-align: right;
    color: #cfd0d0;
    text-transform: uppercase;
    font-weight: 400;
}

img.footerLogo {
    width: 75%;
    padding: 15px 0 0 ;
}

.copyright {
    color: #818181;
    font-size: 14px;
}

.footer-bottom h3 {
    color: #467ABD;
    text-transform: uppercase;
    font-weight: 400;
}

.footer-bottom {
    margin-bottom: 30px;
}

/*sonstige*/

div.blog .items-more {
    border-left: 5px solid #fb8537;
    background-color: #f8f8f8;
}

body.site a.btn:not(.dropdown-toggle) {
    background-color: #3270ba;
    color: #fff;
    text-shadow: 1px 1px 5px #808080;
    background-image: none;
    transition: all 0.3s ease-in-out;
}

body.site a.btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #BDBFE4;
    text-shadow: none;
}

div.blog .icons,
div.item-page .icons {
    display: none;
}

form#searchForm {
    margin-bottom: 50px;
}

body.itemid-168 div#weitereBerichte {
    display: none;
}

/*quick m*/

div#module_142.quickMenue ul.nav.menu li {
    margin: 0 0 10px;
    background: url('/images/list-item.png') no-repeat left center;
    padding: 0 0 0 30px;
}

div#module_142.quickMenue ul.nav.menu li.current {
    background: url('/images/list-active.png') no-repeat left center;
}


/*scrollToTop*/

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
      background-color: #3270BA;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 3%;
    bottom: 10%;
    padding-top: 2px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}

.glyphicon-chevron-up:before {
    content: "\e113";
}

/*doc_man*/

body.site .docman_list__sidebar {
    display: none;
}

body.site a.btn.btn-large.btn-default.btn-block.docman_download__button.docman_track_download {
    padding: 3px;
}


/*Resp overrides*/
@media (min-width: 1280px) {
  
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
      width: 1280px;
  }
}

 /*Menue*/

li.item-167 img {
    position: relative;
    bottom: 4px;
}

body.site .mm-listview .mm-next.mm-fullsubopen {
    width: 40%;
}

body.site .navbar .nav .dropdown-toggle .caret {
    margin-left: 80px;
}

body.site .dropdown-menu li a {
    padding: 15px 20px;
    color: inherit;
    font-size: 14px;
    border-bottom: 1px solid #e2e2e2;
    text-transform: uppercase;
}

body.site .dropdown-menu li:last-child a {
    border-bottom: none;
}

body.site .dropdown-menu>li>a:hover,
body.site .dropdown-menu>li>a:focus,
body.site .dropdown-submenu:hover>a,
body.site .dropdown-submenu:focus>a,
body.site .navbar .nav li.active a.dropdown-toggle ul.dropdown-menu li a:hover,
body.site .navbar .nav li.active a.dropdown-toggle ul.dropdown-menu li a:focus {
    color: #fff !important;
    text-decoration: none;
    background-color: #3270BA !important;
    background-image: none;
}

body.site .navbar .nav li.current.active a {
    color: #3270BA;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
}

body.site .navbar .nav ul.nav-child li.current.active a {
    color: #fff;
    box-shadow: none;
    background-image: none;
    background-color: #3270BA;
}

body.site .navbar .nav li.active a.dropdown-toggle {
    color: #3270BA;
    background-color: transparent;
    box-shadow: none;
    background-image: none;
}

body.site .navbar .nav>li>a {
    float: none;
    padding: 10px 15px 10px;
    color: #6a6868;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

body.site li.item-167 a {
    padding: 5px;
}

body.site .navbar .nav>li>a:hover {
    color: #3270BA;
}

.navbar .nav > li {
    display: inline-block;
}
 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}



/*bootstrap Carousel*/

.item {
   max-width: 100%;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel

/*
 * tmpl-Standards
 */

.site-title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.header {
  padding: 0;
}

.container {
  background-color: #fff;
  padding: 20px 0px;
}

.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
    padding: 0;
}

.navbar-wrapper .container {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar {
    margin: 0 0 5px 0;
    padding: 0;
    position: relative;
    z-index: 999;
}
/**/
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/glyphicons-halflings-regular.woff) format("woff"), url(../fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(../fonts/glyphicons-halflings-regular.svg#) format("svg")
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-chevron-up:before {
    content: "\e113"
}

/*cookie control*/
body#body #cookiesck .cookiesck_inner a {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
  body#body #cookiesck_accept {
      background: rgba(243, 134, 37, 0.7);
      float: none;
      width: 100px;
      margin: 20px auto 0px !important;
      border: 1px solid #fff;
  }
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    padding: 10px 10px 10px 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#body #cookiesck .cookiesck_inner {
    display: initial;
    line-height: 20px;
    text-shadow: 0px 3px 5px #525252;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #f38625;
}
@media(max-width: 1280px) {
  body#body.mobile div#cookiesck span {
      font-size: 14px;
  }
  body#body.phone #cookiesck_readmore {
      padding: 10px 10px 10px 0;
  }
  body#body.phone #cookiesck_accept {
      float: none;
      margin: 10px auto !important;
  }
  body#body.phone #cookiesck {
      text-align: left;
      line-height: 25px;
  }
}
@media(max-width: 1279px) and (orientation: portrait) {
/*  body.mobile #cookiesck {
      bottom: 20vh;
  }*/
}
a.cookieImp,
body#body #cookiesck_readmore {
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    color: #fff;
}
a.cookieImp:hover,
body#body #cookiesck_readmore:hover {
    color: #f38625;
    text-shadow:none;
}