/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {

	body.site div#magBanner img#mbImage {
	    top: 125px;
	    max-width: 100%;
	}	
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}


@media(max-width: 360px) {

	body.site div.ausgabe-wrapper div.ausgabe {
	    font-size: 12px;
	    padding: 4px 10px; 
	}
}

@media(max-width: 414px) and (orientation: portrait) {
	
	body.site #mm-blocker {
	    left: -14px;
	}
}

@media(max-width: 767px) {

	body.site .fountainG {
    	width: initial;
	}

	.img_caption.right,
	.pull-right.item-image {
	    max-width: 220px;
	}

	img#mbImageMobile {
	    box-shadow: 2px 3px 5px #C1C1C1;
	}

	ul.nav.menu.mm-listview li:last-child {
	    border-bottom-color: transparent;
	}

	.module_top.position_top1 {
		margin: 0 0 15px;
	}

	body.site div#module_133 div.iplH3 {
	    border: 1px solid #e2e2e2;
	    height: 150px;
	    margin-bottom: 15px;		
	}

	body.site div#module_133 {
	    border: none;
	   	height: 100%;
	    overflow: hidden;
	    background-color: #fff;
	}

    body.site section#section-menue .mm-btn:not(.mm-prev) {
	    position: absolute;
	}

	body.site {
		padding-right: 10px;
		padding-left: 10px;
	}

	body.site section#section-content .module_top div,
	body.site section#section-content .module_bottom div,
	body.site div#module_133 div {
		padding: 0px;
	}

	body.site section#section-content .module_top div div,
	body.site section#section-content .module_bottom div div,
	body.site div#module_133 div div,
	div#bannerWrapperMobile {
		padding: 0px 10px;
	}

	body.site section#section-content .module_top h3,
	body.site section#section-content .module_bottom h3,
	body.site div#module_133 div h3 {
		font-size: 16px;
		background-color: #F1F1F1;
		padding: 5px 10px;
	}


	body.site .module_bottom div.newsflash div.newsflash p,
	body.site .module_bottom div.newsflash p,
	body.site .custonNewsImg {
		display: none;
	}

	body.site .intrTextNews {
		visibility: hidden;
	}

	body.site .intrTextNews p,
	body.site .intrTextNews h4,
	div.intrTextNews {
		line-height: 0px;
	}

	body.site div#module_133 div.intrTextNews {
		padding-left: 0px;
	}

	div.newsflash .newsflash,
	div.newsflash .intrTextNews,
	div#module_135 div.span6,
	div.carousel-inner,
	div#myCarousel {
		padding-left: 0px !important;
	}

	div#module_133 div.intrTextNews div,
	div#module_133 div.intrTextNews p,
	div#module_133 div.intrTextNews h4 {
		line-height: 0px;
		margin: 4px 0px;
	}

	body.site .module_bottom .newsflash-title .newsflash a.readMore,
	body.site .intrTextNews a.readMore {
		visibility: visible;
	}

	body.site section#section-content div#module_123,
	body.site section#section-content div#module_124,
	body.site section#section-content div#module_134,
	body.site section#section-content div#module_136 {
		min-height: 150px;	
	}
	
	body.site .header-inner.clearfix {
	    display: flex;
	}

	body.site .logo {
	    max-width: 60%;
	}

	body.site section#section-header div.ausgabe-wrapper {
	    position: relative;
	    bottom: 2px;
	    width: 40%;
	    height: 26px;
	    padding-left: 7%;
	}

	body.site section#section-header div.ausgabe {
		padding: 0px 10px;
		font-size: 9px;
	}
	
	body.site div#module_125 {
	    min-height: 210px;
	}

	body.site nav#menu,
	body.site nav#menu a,
	body.site nav#menu li {
	    font-size: 14px;
	}

	body.site .mm-listview>li {
	    margin-bottom: 10px;
	}

	body.site nav#menu div.mm-navbar a.mm-title,
	body.site nav#menu div.mm-navbar-bottom a {
		font-size: 12px;
		text-transform: none;
	}

	div.header-wrapper div.site-description {
	    font-size: 9.4px;
	}

	div.ausgabe-wrapper div.ausgabe {
	    font-size: 13px;
	}

	.search {

	}

	section#section-menue {
	    position: relative;
	    bottom: 50px;
	    margin-bottom: 15px;
	}

	div#bannerWrapperMobile {
		display: flex;
		align-items: center;
		margin-bottom: 10px;	
	}

	div.mbImgMobile {
		flex-basis: 35%;
	}

	.dlBannerMobile {
	    flex-basis: 65%;
	    padding: 20px;
	}

	body.site div#module_122.vorwort-banner {
	    box-shadow: 0px 6px 14px -4px #adaaaa;
	    border: 1px solid #e2e2e2;
	    margin-bottom: 20px;
	}

	.dlBanner-wrapper,
	body.site .vorwort-inner h3 {
	    background-color: rgba(218, 218, 218, 0.39);
	}

	body.site .vorwort-inner h3 {
		max-width: 60%;
		padding: 10px 0px 10px 10px;
	}

	body.site .vorwort-inner h4 {
		max-width: 60%;
		padding: 10px 0px 10px 10px;
		background-color: rgba(191, 191, 191, 0.39);	
	}

	body.site .vorwort-inner p:nth-of-type(1) {
		padding: 15px 0px 0px 10px;
	}

	body.site .vorwort-inner p {
		max-width: 95%;
		padding: 0px 0px 0px 10px;
	}


	.vorwort-banner {	 
	    padding: 0px 10px 25px 0px;
	    margin-bottom: 10px;
	    margin-left: 5px;
	}

	.dlBanner-wrapper {
		padding: 0px 10px 15px 10px;
	    margin-bottom: 10px;
	    margin-left: 5px;
	}

	.mbHeader h1 {
	    text-transform: uppercase;
	    font-size: 24px;
	    text-shadow: 0px 4px 10px #cacaca;
	    border-bottom: 10px solid #EFEFEF;
	}

	body.site .vorwort-inner h3,
	body.site .vorwort-inner h4,
	body.site .iplH3 h3,
	h3.dlBannerHeader {
	    font-size: 14px;
	    margin: 0px;
	}

	body.site .vorwort-inner p {
		font-size: 12px;
	}

	div#module_123,
	div#module_124,
	div#module_134,
	div#module_135,
	div#module_136 {
	    border: 1px solid #e2e2e2;
	    min-height: 250px;
	    margin-bottom: 15px;
	    padding: 10px;
	    box-shadow: 0px 6px 14px -4px #adaaaa;
	}

	body.site div#footerBanner {
		display: none;
	}

	body.site .row-fluid.footer {
	    position: initial;
	    bottom: 0;
	}

	body.site footer.clear-footer h2.footerH2 {
	    font-size: 12px;
	    text-align: center;
	}

	body.site .copyright {
	    font-size: 11px;
	    text-align: center;
	}

	body.site div.row-fluid.footer {
		text-align: center;
	}

	body.site div.row-fluid.footer .span4 {
		background-color: #f7f7f7;
	}

	body.site img.footerLogo {
	    padding: 10px;
	}

	p.announce {
	    color: #969696;
	}

	div.blog div.page-header h2 {
			font-size: 18px;
			font-weight: 400;
	}

	body.site .footer-bottom div.span4 {
	    width: 80%;
	    margin: 0px auto 20px;
	}
}


@media(max-width: 767px) and (orientation: landscape) {


	body.site section#section-header div.ausgabe-wrapper {
	    bottom: 0px;
	    width: 40%;
	    height: 50px;
	    padding-left: 15%;
	}

	body.site section#section-header div.ausgabe {
	    padding: 4px 20px;
	    font-size: 12px;
	}
	
	div.mbImgMobile {
		flex-basis: 30%;
	}

	.dlBannerMobile {
	    flex-basis: 70%;
	}

	.footer-bottom img {
	    width: 50%;
	    transform: translateX(50%);
	    margin-bottom: 15px;
	}

	body.site footer.clear-footer h2.footerH2 {
		font-size: 14px
	}

	div#bannerWrapperMobile {
		padding-bottom: 10px;
	}
}


@media(width: 768px) and (orientation: portrait) {

	body.site ul.category-module.ui-slider-tabs-list {
	    width: 724px !important;
	}
}

@media(max-width: 768px) {

}

@media(min-width: 768px) {

	
	.clear-top {
	    margin-bottom: 30px;
	}

	div#module_133 {
	    max-height: 500px; 
	}

	body.site {
	    background-color: #F9F9F9;
	}

	div#module_125 {
	    max-width: 28%;
	    position: relative;
	    top: 20px;
	    background: #fff;
	    height: 220px;
	}

	div#module_125:after {
	    content: '';
	    width: 220px;
	    height: 190px;
	    position: absolute;
	    background: #fb8537;
	    left: 0px;
	    z-index: -1;
	    bottom: 50px;
	    box-shadow: 0px 11px 10px -10px #808080;
	}

	div#module_133 {
		position: relative;
	}

	.module_bottom.position_bottom1,
	.module_bottom.position_bottom2 {
		border-right: 3px solid #8ab6ec;
	}

	div.blog div.page-header h2 {
		font-size: 24px;
		font-weight: 400;
	}

	body.site div#myCarousel .carousel-indicators {
	    top: 205px;
	    right: -20px;
	}
}

@media(min-width: 768px) and (max-width: 979px) {

	div.ausgabe-wrapper div.ausgabe {
	    bottom: 20px;
	    padding: 2px 15px;
	}
}

@media(min-width: 768px) and (max-width: 1200px) {

	body.site img.footerLogo {
	    padding: 20px 0 0 10px;
	}

	body.site h2.footerH2 {
		padding-right: 10px;
	}

	body.site .module_bottom.position_bottom1,
	.copyright {
		padding-left: 10px;
	}

	body.site .module_bottom.position_bottom3 {
		padding-right: 10px;
	}

	.module_top.position_top1 div.module:first-child {
	    padding: 15px 20px 15px 10px;
	}

	body.site .ui-slider-tabs-list li a {	   
	    padding: 8px 10px;
	}
}


@media(max-width: 979px) {

	div.search form input {
		max-width: 185px;
		padding: 4px;
	}

	body.site div.search input.button {
	    width: 18px;
	    padding: 0px;
	    vertical-align: baseline;
	}
}

@media(max-width: 1024px) and (orientation: landscape) {
	div#module_125:after {
	    width: 320px;
	}

	body.site div.ausgabe-wrapper {
	    bottom: 13px;
	}
}

@media(min-width: 768px) and (max-width: 1024px) {

	div.header-wrapper div.site-description {
	    font-size: 16px;
	}

	body.site h3.dlBannerHeader,
	body.site a.dlBannerLink {
	    font-size: calc(18px + 22 * (100vw - 1200px) / 1200);
	}

	body.is_home section#section-content {
	    position: relative;
	    bottom: 50px;
	}

	body.is_home section#section-content {
	    margin-bottom: 0px;
	}
}

@media(min-width: 768px) and (max-width: 1200px) {

}

@media(min-width: 768px) and (max-width: 1280px) {

	body.site nav#menu,
	body.site nav#menu a,
	body.site nav#menu li {
	    font-size: 16px;
	}

	body.site .mm-listview>li {
	    margin-bottom: 25px;
	}

	body.site div.ausgabe {
	    margin-left: 15px;
	}
}


@media(min-width: 980px) and (max-width: 1200px) {

	body.site ul.category-module.ui-slider-tabs-list {
	    width: 980px !important;
	}
}

@media(min-width: 1024px) {

	div#module_133 {
		box-shadow: 0px 11px 10px -10px #808080;
	}

	.content {
	    z-index: 1;
	    position: relative;
	}

	div#tabSliderbkgr {
	    position: absolute;
	    border-bottom: 230px solid #fed4b9;
	    width: 1280px;
	    top: 1220px;
	    z-index: 0;
	}

}

@media(max-width: 1024px) {
	
	div#magBanner img#mbImage {
	    top: 95px;
	    max-width: 90%;
	}


}

@media(min-width: 1025px) {

	ul.nav.menu.nav-pills>li {
	    height: 38px;
	}

	body.site div#module_125:after {
	    width: 345px;
	    bottom: 50px;
	}

	div#module_142,
	div#module_145,
	div#module_140 {
	    position: relative;
	    top: 130px;
	    left: 55px;
	}
}

@media(max-width: 1199px) {

	div#weitereBerichte {
	    background-color: #fed4b9;
	    padding: 10px 20px 20px;
	    position: relative;
	    top: 20px;
	    width: 100%;
	    right: 20px;
	    color: #5e5d5d;
	   	box-shadow: 0px 6px 14px -4px #adaaaa;
	   	z-index: 0;
	}

	div#weitereBerichte h4 {		
		font-size: 16px; 
		font-weight: 400; 
	}

	.item-page h1,
	.blog h1,
	div.content-category h1,
	h1.docman_page_heading {
		font-size: 22px;
	}
}

@media(max-width: 1200px) {

	body.site h2.footerH2 {
	    font-size: calc(24px + 36 *(100vw - 1200px) / 1200);
	}

	body.site main#content .blog>div.page-header h1,
	body.site main#content .item-page>div.page-header h1 {
	    font-size: calc(28px + 12 * (100vw - 1200px ) / 1200);
	}

	.newsflash.custom089 {
	    word-wrap: break-word;
	}

	body.site .ui-slider-tabs-list li,
	body.site .ui-slider-tabs-list li span {
	    font-size: calc(18px + 18 * (100vw - 1200px) / 1200);
	    line-height: 20px !important;
	}

	body.site .iplH3 h4 {
	    font-size: 14px;
	}

	body.site .iplH3 p {
	    font-size: 12px;
	}

	.container-fluid {
		background-color: #fff;
	}

	.clear-top {
	    position: relative;
	    bottom: 10px;
	}

	body.site .vorwort-Banner.span5 {
	    margin-left: 0;
	}

	.header-wrapper .container {
	    padding-bottom: 0;
	}

	body.site section#section-header,
	body.site section#section-content,
	body.site div.header-wrapper div.container,
	body.site footer.clear-footer,
	body.site div.footer-bottom {
	    max-width: 1180px;
	    margin-left: 0px;
	}


/*resp-menue*/
  	.mm-btn {
	    max-width: 60px;
	}

  	ul.mm-listview li {
	    line-height: 25px;
	}

	div#toggle {
		float: left;
		border: 1px solid #406DB6;
    	border-radius: 10%;
    	height: 45px;
    	width: 47px;
    	transition: border-radius 0.4s linear;
	}

	html.mm-opened div#toggle {
		border-radius: 50%;
	}

	body.site .mobileTel a {	    
	    color: #406DB6;
	}

	body.site nav#menu {
	    max-height: 90%;
	    visibility: hidden;
	    transition: all 0.4s linear;
	}
	body.site nav#menu.mm-opened {
	    max-height: 100%;
	    visibility: visible;
	}

	.button_container {
      position: relative;
      left: 0;
      top: 0px;
      height: 47px;
      width: 45px;
      cursor: pointer;
      z-index: 100;
      -webkit-transition: opacity .25s ease;
            transition: opacity .25s ease;
    }

    body.site .mm-btn:not(.mm-prev) {
	    position: relative;
	    z-index: 4;
	}

    html.mm-opened .button_container .top {
      -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
          -ms-transform: translateY(10px) translateX(0) rotate(45deg);
              transform: translateY(10px) translateX(0) rotate(45deg);
      background: rgba(97, 100, 171, 1);
    }
    html.mm-opened .button_container .middle {
      opacity: 0;
      background: rgba(97, 100, 171, 1);
    }
    html.mm-opened .button_container .bottom {
      -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
          -ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
              transform: translateY(-10px) translateX(0) rotate(-45deg);
      background: rgba(97, 100, 171, 1);
    }
    .button_container span {
		background: #406DB6;
		border: none;
		height: 3px;
		width: 70%;
		position: absolute;
		top: 11px;
		left: 7px;
		-webkit-transition: all .35s ease;
		      transition: all .35s ease;
		cursor: pointer;
    }
    .button_container span:nth-of-type(2) {
      top: 21px;
    }
    .button_container span:nth-of-type(3) {
      top: 31px;
    }

    html.mm-pagedim-black #mm-blocker {
	    background: #406DB6;
	}

	body.site nav#menu a {
		text-transform: uppercase;
	}

	body.site b.caret {
		display: none;
	}

	body.site div.mm-navbar a.mm-title,
	body.site div.mm-navbar-bottom a {
		color: #406DB6;
	}

/*<-- Resp Menu END -->*/	
}

@media(min-width: 1200px) {

	body.itemid-168 section#section-content main#content .blog>div.page-header h1,
	body.itemid-127 section#section-content main#content .blog>div.page-header h1 {
	    padding: 10px 10px 10px;
	}

	.footer-bottom .span4 {
	    text-align: center;
	}

	body.site .ausgabe-wrapper {
	    margin-left: 10px;
	}

	body.site .ui-slider-tab-content {
	    padding: 10px 10px 10px 15px;
	}

	.module_top.position_top1 {
	    margin: 0 0 30px;
	}

	body.site main#content .blog>div.page-header h1,
	body.site main#content .item-page>div.page-header h1 {
	    font-size: 28px;
	}

	ul.nav-child.unstyled.small.dropdown-menu {
	    width: 100%;
	}

	.navbar .navbar-inner {   
	    max-height: 40px;
	}

	body.site div#module_125:after {
	    width: 380px;
	    bottom: 50px;
	}
	
	h2.footerH2 {
	    font-size: 24px;
    }

    .footer-bottom img {
	    width: 70%;
	}	

	body.site .blog>div.page-header,
	body.site .item-page>div.page-header {
	    position: relative;
	    right: 50px;
	    width: 146%;
	}

	body.itemid-177 .blog>div.page-header,
	body.itemid-178 .blog>div.page-header,
	body.itemid-122 main#content div.page-header,
	body.itemid-220 main#content div.page-header {
	    position: relative;
	    right: 50px;
	    width: 108.5%;
	}

	body.site div.blog .items-leading.clearfix {
	    position: relative;
	    bottom: 50px;
	}

	div#weitereBerichte {
	    background-color: #fed4b9;
	    padding: 10px 20px 30px;
	    position: relative;
	    top: 20px;
	    width: 100%;
	    right: 20px;
	    color: #5e5d5d;
	   	box-shadow: 0px 6px 14px -4px #adaaaa;
	   	z-index: -1;
	}

	div#weitereBerichte h4 {		
		font-size: 20px; 
		font-weight: 400; 
	}

	div.newsflash.custom089 h4.newsflash-title {
	    font-size: 20px;
	}

	body.site .ui-slider-tabs-list li {
	    font-size: 18px;
	    line-height: 25px;
	}

	body.site .ui-slider-tabs-list li span {
	    font-size: 16px;
	}

/*menue*/

	div#module_1 ul.nav.menu.nav-pills li {
	    border-right: 2px solid #d9d9d9;
	    box-shadow: 2px 0px 3px #FFFFFF;
	}
	body.site div#module_1 ul.nav { 
	    left: 35px;
	    float: none;
	}

	.item-page h1,
	.blog h1,
	div.content-category h1,
	h1.docman_page_heading {
		font-size: 28px;
	}

	body.site main#content .blog>div.page-header h1 {
	    padding: 10px 10px 50px;
	}

	body.site main#content .item-page >div.page-header h1 {
	    padding: 10px 10px 10px 50px;
	}

	body.site div#myCarousel .carousel-indicators {
	    top: 205px;
	    right: -20px;
	}

/*docman*/
	body.site .koowa .docman_list__content {
	    width: 100%;
	}
}





 /*Template Standard*/

 @media (min-width: 768px) and (max-width: 979px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-tablet {
		display: inherit !important;
	}
	.hidden-tablet {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.hidden-desktop {
		display: inherit !important;
	}
	.visible-desktop {
		display: none !important;
	}
	.visible-phone {
		display: inherit !important;
	}
	.hidden-phone {
		display: none !important;
	}
}

@media (max-width: 767px) {
	body {
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top {
		margin-left: -20px;
		margin-right: -20px;
	}
	.container-fluid {
		padding: 0;
	}
	.dl-horizontal dt {
		float: none;
		clear: none;
		width: auto;
		text-align: left;
	}
	.dl-horizontal dd {
		margin-left: 0;
	}
	.container {
		width: auto;
	}
	.row-fluid {
		width: 100%;
	}
	.row,
	.thumbnails {
		margin-left: 0;
	}
	.thumbnails > li {
		float: none;
		margin-left: 0;
	}
	[class*="span"],
	.uneditable-input[class*="span"],
	.row-fluid [class*="span"] {
		float: none;
		display: block;
		width: 100%;
		margin-left: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.span12,
	.row-fluid .span12 {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.row-fluid [class*="offset"]:first-child {
		margin-left: 0;
	}
	.input-large,
	.input-xlarge,
	.input-xxlarge,
	input[class*="span"],
	select[class*="span"],
	textarea[class*="span"],
	.uneditable-input {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.input-prepend input,
	.input-append input,
	.input-prepend input[class*="span"],
	.input-append input[class*="span"] {
		display: inline-block;
		width: auto;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 0;
	}
}
@media (max-width: 480px) {
	.nav-collapse {
		-webkit-transform: translate3d(0,0,0);
	}
	.page-header h1 small {
		display: block;
		line-height: 18px;
	}
	input[type="checkbox"],
	input[type="radio"] {
		border: 1px solid #ccc;
	}
	.form-horizontal .control-label {
		float: none;
		width: auto;
		padding-top: 0;
		text-align: left;
	}
	.form-horizontal .controls {
		margin-left: 0;
	}
	.form-horizontal .control-list {
		padding-top: 0;
	}
	.form-horizontal .form-actions {
		padding-left: 10px;
		padding-right: 10px;
	}
	.media .pull-left,
	.media .pull-right {
		float: none;
		display: block;
		margin-bottom: 10px;
	}
	.media-object {
		margin-right: 0;
		margin-left: 0;
	}
	.modal-header .close {
		padding: 10px;
		margin: -10px;
	}
	.carousel-caption {
		position: static;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.row {
		margin-left: -20px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px;
	}
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 724px;
	}
	.span12 {
		width: 724px;
	}
	.span11 {
		width: 662px;
	}
	.span10 {
		width: 600px;
	}
	.span9 {
		width: 538px;
	}
	.span8 {
		width: 476px;
	}
	.span7 {
		width: 414px;
	}
	.span6 {
		width: 352px;
	}
	.span5 {
		width: 290px;
	}
	.span4 {
		width: 228px;
	}
	.span3 {
		width: 166px;
	}
	.span2 {
		width: 104px;
	}
	.span1 {
		width: 42px;
	}
	.offset12 {
		margin-left: 764px;
	}
	.offset11 {
		margin-left: 702px;
	}
	.offset10 {
		margin-left: 640px;
	}
	.offset9 {
		margin-left: 578px;
	}
	.offset8 {
		margin-left: 516px;
	}
	.offset7 {
		margin-left: 454px;
	}
	.offset6 {
		margin-left: 392px;
	}
	.offset5 {
		margin-left: 330px;
	}
	.offset4 {
		margin-left: 268px;
	}
	.offset3 {
		margin-left: 206px;
	}
	.offset2 {
		margin-left: 144px;
	}
	.offset1 {
		margin-left: 82px;
	}
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,
	.row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.127659574%;
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .controls-row [class*="span"] + [class*="span"] {
		margin-left: 2.127659574%;
	}
	.row-fluid .span12 {
		width: 99.99999999%;
	}
	.row-fluid .span11 {
		width: 91.489361693%;
	}
	.row-fluid .span10 {
		width: 82.978723396%;
	}
	.row-fluid .span9 {
		width: 74.468085099%;
	}
	.row-fluid .span8 {
		width: 65.957446802%;
	}
	.row-fluid .span7 {
		width: 57.446808505%;
	}
	.row-fluid .span6 {
		width: 48.936170208%;
	}
	.row-fluid .span5 {
		width: 40.425531911%;
	}
	.row-fluid .span4 {
		width: 31.914893614%;
	}
	.row-fluid .span3 {
		width: 23.404255317%;
	}
	.row-fluid .span2 {
		width: 14.89361702%;
	}
	.row-fluid .span1 {
		width: 6.382978723%;
	}
	.row-fluid .offset12 {
		margin-left: 104.255319138%;
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.127659564%;
	}
	.row-fluid .offset11 {
		margin-left: 95.744680841%;
	}
	.row-fluid .offset11:first-child {
		margin-left: 93.617021267%;
	}
	.row-fluid .offset10 {
		margin-left: 87.234042544%;
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.10638297%;
	}
	.row-fluid .offset9 {
		margin-left: 78.723404247%;
	}
	.row-fluid .offset9:first-child {
		margin-left: 76.595744673%;
	}
	.row-fluid .offset8 {
		margin-left: 70.21276595%;
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.085106376%;
	}
	.row-fluid .offset7 {
		margin-left: 61.702127653%;
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.574468079%;
	}
	.row-fluid .offset6 {
		margin-left: 53.191489356%;
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.063829782%;
	}
	.row-fluid .offset5 {
		margin-left: 44.680851059%;
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.553191485%;
	}
	.row-fluid .offset4 {
		margin-left: 36.170212762%;
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.042553188%;
	}
	.row-fluid .offset3 {
		margin-left: 27.659574465%;
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.531914891%;
	}
	.row-fluid .offset2 {
		margin-left: 19.148936168%;
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.021276594%;
	}
	.row-fluid .offset1 {
		margin-left: 10.638297871%;
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.510638297%;
	}
	input,
	textarea,
	.uneditable-input {
		margin-left: 0;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 20px;
	}
	input.span12,
	textarea.span12,
	.uneditable-input.span12 {
		width: 710px;
	}
	input.span11,
	textarea.span11,
	.uneditable-input.span11 {
		width: 648px;
	}
	input.span10,
	textarea.span10,
	.uneditable-input.span10 {
		width: 586px;
	}
	input.span9,
	textarea.span9,
	.uneditable-input.span9 {
		width: 524px;
	}
	input.span8,
	textarea.span8,
	.uneditable-input.span8 {
		width: 462px;
	}
	input.span7,
	textarea.span7,
	.uneditable-input.span7 {
		width: 400px;
	}
	input.span6,
	textarea.span6,
	.uneditable-input.span6 {
		width: 338px;
	}
	input.span5,
	textarea.span5,
	.uneditable-input.span5 {
		width: 276px;
	}
	input.span4,
	textarea.span4,
	.uneditable-input.span4 {
		width: 214px;
	}
	input.span3,
	textarea.span3,
	.uneditable-input.span3 {
		width: 152px;
	}
	input.span2,
	textarea.span2,
	.uneditable-input.span2 {
		width: 90px;
	}
	input.span1,
	textarea.span1,
	.uneditable-input.span1 {
		width: 28px;
	}
}
@media (min-width: 1200px) {
	.row {
		margin-left: -20px;
		*zoom: 1;
	}
	.row:before,
	.row:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row:after {
		clear: both;
	}
	[class*="span"] {
		float: left;
		min-height: 1px;
		margin-left: 20px;
	}
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container {
		width: 940px;
	}
	.span12 {
		width: 940px;
	}
	.span11 {
		width: 860px;
	}
	.span10 {
		width: 780px;
	}
	.span9 {
		width: 700px;
	}
	.span8 {
		width: 620px;
	}
	.span7 {
		width: 540px;
	}
	.span6 {
		width: 460px;
	}
	.span5 {
		width: 380px;
	}
	.span4 {
		width: 300px;
	}
	.span3 {
		width: 220px;
	}
	.span2 {
		width: 140px;
	}
	.span1 {
		width: 60px;
	}
	.offset12 {
		margin-left: 980px;
	}
	.offset11 {
		margin-left: 900px;
	}
	.offset10 {
		margin-left: 820px;
	}
	.offset9 {
		margin-left: 740px;
	}
	.offset8 {
		margin-left: 660px;
	}
	.offset7 {
		margin-left: 580px;
	}
	.offset6 {
		margin-left: 500px;
	}
	.offset5 {
		margin-left: 420px;
	}
	.offset4 {
		margin-left: 340px;
	}
	.offset3 {
		margin-left: 260px;
	}
	.offset2 {
		margin-left: 180px;
	}
	.offset1 {
		margin-left: 100px;
	}
	.row-fluid {
		width: 100%;
		*zoom: 1;
	}
	.row-fluid:before,
	.row-fluid:after {
		display: table;
		content: "";
		line-height: 0;
	}
	.row-fluid:after {
		clear: both;
	}
	.row-fluid [class*="span"] {
		display: block;
		width: 100%;
		min-height: 28px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.127659574%;
		*margin-left: 2.0744680846383%;
	}
	.row-fluid [class*="span"]:first-child {
		margin-left: 0;
	}
	.row-fluid .controls-row [class*="span"] + [class*="span"] {
		margin-left: 2.127659574%;
	}
	.row-fluid .span12 {
		width: 99.99999999%;
	}
	.row-fluid .span11 {
		width: 91.489361693%;
	}
	.row-fluid .span10 {
		width: 82.978723396%;
	}
	.row-fluid .span9 {
		width: 74.468085099%;
	}
	.row-fluid .span8 {
		width: 65.957446802%;
	}
	.row-fluid .span7 {
		width: 57.446808505%;
		*width: 57.393617015638%;
	}
	.row-fluid .span6 {
		width: 48.936170208%;
		*width: 48.882978718638%;
	}
	.row-fluid .span5 {
		width: 40.425531911%;
	}
	.row-fluid .span4 {
		width: 31.914893614%;
	}
	.row-fluid .span3 {
		width: 23.404255317%;
	}
	.row-fluid .span2 {
		width: 14.89361702%;
	}
	.row-fluid .span1 {
		width: 6.382978723%;
	}
	.row-fluid .offset12 {
		margin-left: 104.255319138%;
	}
	.row-fluid .offset12:first-child {
		margin-left: 102.127659564%;
	}
	.row-fluid .offset11 {
		margin-left: 95.744680841%;
	}
	.row-fluid .offset11:first-child {
		margin-left: 93.617021267%;
	}
	.row-fluid .offset10 {
		margin-left: 87.234042544%;
	}
	.row-fluid .offset10:first-child {
		margin-left: 85.10638297%;
	}
	.row-fluid .offset9 {
		margin-left: 78.723404247%;
	}
	.row-fluid .offset9:first-child {
		margin-left: 76.595744673%;
	}
	.row-fluid .offset8 {
		margin-left: 70.21276595%;
	}
	.row-fluid .offset8:first-child {
		margin-left: 68.085106376%;
	}
	.row-fluid .offset7 {
		margin-left: 61.702127653%;
	}
	.row-fluid .offset7:first-child {
		margin-left: 59.574468079%;
	}
	.row-fluid .offset6 {
		margin-left: 53.191489356%;
	}
	.row-fluid .offset6:first-child {
		margin-left: 51.063829782%;
	}
	.row-fluid .offset5 {
		margin-left: 44.680851059%;
	}
	.row-fluid .offset5:first-child {
		margin-left: 42.553191485%;
	}
	.row-fluid .offset4 {
		margin-left: 36.170212762%;
	}
	.row-fluid .offset4:first-child {
		margin-left: 34.042553188%;
	}
	.row-fluid .offset3 {
		margin-left: 27.659574465%;
	}
	.row-fluid .offset3:first-child {
		margin-left: 25.531914891%;
	}
	.row-fluid .offset2 {
		margin-left: 19.148936168%;
	}
	.row-fluid .offset2:first-child {
		margin-left: 17.021276594%;
	}
	.row-fluid .offset1 {
		margin-left: 10.638297871%;
	}
	.row-fluid .offset1:first-child {
		margin-left: 8.510638297%;
	}
	input,
	textarea,
	.uneditable-input {
		margin-left: 0;
	}
	.controls-row [class*="span"] + [class*="span"] {
		margin-left: 20px;
	}
	input.span12,
	textarea.span12,
	.uneditable-input.span12 {
		width: 926px;
	}
	input.span11,
	textarea.span11,
	.uneditable-input.span11 {
		width: 846px;
	}
	input.span10,
	textarea.span10,
	.uneditable-input.span10 {
		width: 766px;
	}
	input.span9,
	textarea.span9,
	.uneditable-input.span9 {
		width: 686px;
	}
	input.span8,
	textarea.span8,
	.uneditable-input.span8 {
		width: 606px;
	}
	input.span7,
	textarea.span7,
	.uneditable-input.span7 {
		width: 526px;
	}
	input.span6,
	textarea.span6,
	.uneditable-input.span6 {
		width: 446px;
	}
	input.span5,
	textarea.span5,
	.uneditable-input.span5 {
		width: 366px;
	}
	input.span4,
	textarea.span4,
	.uneditable-input.span4 {
		width: 286px;
	}
	input.span3,
	textarea.span3,
	.uneditable-input.span3 {
		width: 206px;
	}
	input.span2,
	textarea.span2,
	.uneditable-input.span2 {
		width: 126px;
	}
	input.span1,
	textarea.span1,
	.uneditable-input.span1 {
		width: 46px;
	}
	.thumbnails {
		margin-left: -20px;
	}
	.thumbnails > li {
		margin-left: 20px;
	}
	.row-fluid .thumbnails {
		margin-left: 0;
	}
}
@media (max-width: 979px) {
	body {
		padding-top: 0;
	}
	.navbar-fixed-top,
	.navbar-fixed-bottom {
		position: static;
	}
	.navbar-fixed-top {
		margin-bottom: 18px;
	}
	.navbar-fixed-bottom {
		margin-top: 18px;
	}
	.navbar-fixed-top .navbar-inner,
	.navbar-fixed-bottom .navbar-inner {
		padding: 5px;
	}
	.navbar .container {
		width: auto;
		padding: 0;
	}
	.navbar .brand {
		padding-left: 10px;
		padding-right: 10px;
		margin: 0 0 0 -5px;
	}
	.nav-collapse {
		clear: both;
	}
	.nav-collapse .nav {
		float: none;
		margin: 0 0 9px;
	}
	.nav-collapse .nav > li {
		float: none;
	}
	.nav-collapse .nav > li > a {
		margin-bottom: 2px;
	}
	.nav-collapse .nav > .divider-vertical {
		display: none;
	}
	.nav-collapse .nav .nav-header {
		color: #fff;
		text-shadow: none;
	}
	.nav-collapse .nav > li > a,
	.nav-collapse .dropdown-menu a {
		padding: 9px 15px;
		font-weight: bold;
		color: #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.nav-collapse .btn {
		padding: 4px 10px 4px;
		font-weight: normal;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.nav-collapse .dropdown-menu li + li a {
		margin-bottom: 2px;
	}
	.nav-collapse .nav > li > a:hover,
	.nav-collapse .nav > li > a:focus,
	.nav-collapse .dropdown-menu a:hover,
	.nav-collapse .dropdown-menu a:focus {
		background-color: #007ab8;
	}
	.navbar-inverse .nav-collapse .nav > li > a,
	.navbar-inverse .nav-collapse .dropdown-menu a {
		color: #999;
	}
	.navbar-inverse .nav-collapse .nav > li > a:hover,
	.navbar-inverse .nav-collapse .nav > li > a:focus,
	.navbar-inverse .nav-collapse .dropdown-menu a:hover,
	.navbar-inverse .nav-collapse .dropdown-menu a:focus {
		background-color: #111111;
	}
	.nav-collapse.in .btn-group {
		margin-top: 5px;
		padding: 0;
	}
	.nav-collapse .dropdown-menu {
		position: static;
		top: auto;
		left: auto;
		float: none;
		display: none;
		max-width: none;
		margin: 0 15px;
		padding: 0;
		background-color: transparent;
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.nav-collapse .open > .dropdown-menu {
		display: block;
	}
	.nav-collapse .dropdown-menu:before,
	.nav-collapse .dropdown-menu:after {
		display: none;
	}
	.nav-collapse .dropdown-menu .divider {
		display: none;
	}
	.nav-collapse .nav > li > .dropdown-menu:before,
	.nav-collapse .nav > li > .dropdown-menu:after {
		display: none;
	}
	.nav-collapse .navbar-form,
	.nav-collapse .navbar-search {
		float: none;
		padding: 9px 15px;
		margin: 9px 0;
		border-top: 1px solid #007ab8;
		border-bottom: 1px solid #007ab8;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
	}
	.navbar-inverse .nav-collapse .navbar-form,
	.navbar-inverse .nav-collapse .navbar-search {
		border-top-color: #111111;
		border-bottom-color: #111111;
	}
	.navbar .nav-collapse .nav.pull-right {
		float: none;
		margin-left: 0;
	}
	.nav-collapse,
	.nav-collapse.collapse {
		overflow: hidden;
		height: 0;
	}
	.navbar .btn-navbar {
		display: block;
	}
	.navbar-static .navbar-inner {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (min-width: 980px) {
	.nav-collapse.collapse {
		height: auto !important;
		overflow: visible !important;
	}
}

@media (max-width: 767px) {
	div.modal {
		position: fixed;
		top: 20px;
		left: 20px;
		right: 20px;
		width: auto;
		margin: 0;
	}
	div.modal.fade {
		top: -100px;
	}
	div.modal.fade.in {
		top: 20px;
	}
}
@media (max-width: 480px) {
	div.modal {
		top: 10px;
		left: 10px;
		right: 10px;
	}
}

@media (max-width: 480px) {
	.item-info > span {
		display: block;
	}
	.blog-item .pull-right.item-image {
		margin: 0 0 18px 0;
	}
	.blog-item .pull-left.item-image {
		margin: 0 0 18px 0;
		float: none;
	}
}
@media (max-width: 768px) {
	body {
		padding-top: 0;
	}
	.clear-slider {
		top: 0;
	}
	.clear-slider .ext-item-html {
		display: none;
	}
	.header {
		background: transparent;
	}

	.header-search {
		float: none;
		display: block;
	}
	.header-search form {
		margin: 0;
	}
	.header-search .search-query {
		width: 90%;
	}
	.header .nav-pills > li > a {
		border: 1px solid #ddd;
		border-bottom: 0;
		margin: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
	}
	.header .nav-pills > li:first-child > a {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.header .nav-pills > li:last-child > a {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		border-bottom: 1px solid #ddd;
	}
	.modal.fade {
		top: -100%;
	}
	.nav-tabs {
		border-bottom: 0;
	}
	.nav-tabs > li {
		float: none;
	}
	.nav-tabs > li > a {
		border: 1px solid #ddd;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		margin-right: 0;
	}
	.nav-tabs > li:first-child > a {
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		border-bottom: 1px solid #ddd;
	}
	.nav-tabs > li > a:hover {
		border-color: #ddd;
		z-index: 2;
	}
	.nav-tabs.nav-dark > li > a {
		border: 1px solid #333;
	}
	.nav-tabs > li:last-child > a,
	.nav-tabs > .active:last-child > a {
		border-bottom: 1px solid #333;
	}
	.nav-tabs.nav-dark > li > a:hover {
		border-color: #333;
	}
	.nav-pills > li {
		float: none;
	}
	.nav-pills > li > a {
		margin-right: 0;
	}
	.nav-pills > li > a {
		margin-bottom: 3px;
	}
	.nav-pills  > li:last-child > a {
		margin-bottom: 1px;
	}
	.form-search > .pull-left,
	.form-search > .pull-right {
		float: none;
		display: block;
		margin-bottom: 9px;
	}
}
@media (max-width: 980px) {
	.navbar-fixed-top {
		margin-bottom: 0 !important;
	}
	.item-comment .item-image {
		display: none;
	}
	.well {
		padding: 10px;
	}
	.header-right {
		width: 100%;
		float: left;
		text-align: left;
	}
	.header-right .clear-map {
		width: 100%;
	}
	.header-right .clear-phone {
		text-align: left !important;
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#login-form .input-small {
		width: 62px;
	}
}